<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>z</key>
	<integer>3</integer>
	<key>y</key>
	<integer>19</integer>
	<key>x</key>
	<integer>3</integer>
	<key>w</key>
	<integer>23</integer>
	<key>v</key>
	<integer>9</integer>
	<key>u</key>
	<integer>27</integer>
	<key>t</key>
	<integer>90</integer>
	<key>s</key>
	<integer>63</integer>
	<key>r</key>
	<integer>59</integer>
	<key>q</key>
	<integer>3</integer>
	<key>p</key>
	<integer>19</integer>
	<key>o</key>
	<integer>75</integer>
	<key>n</key>
	<integer>67</integer>
	<key>m</key>
	<integer>24</integer>
	<key>l</key>
	<integer>40</integer>
	<key>k</key>
	<integer>7</integer>
	<key>j</key>
	<integer>4</integer>
	<key>i</key>
	<integer>69</integer>
	<key>h</key>
	<integer>60</integer>
	<key>g</key>
	<integer>20</integer>
	<key>f</key>
	<integer>22</integer>
	<key>e</key>
	<integer>130</integer>
	<key>d</key>
	<integer>42</integer>
	<key>c</key>
	<integer>27</integer>
	<key>b</key>
	<integer>14</integer>
	<key>a</key>
	<integer>81</integer>
</dict>
</plist>
